/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    background-color 0.5s ease;
}

button {
  padding: 10px 20px;
  font-size: 1.4rem;
  border-radius: 16px;
  background-color: purple;
  border-style: none;
  color: gold;
  cursor: pointer;
  transition:
    background-color 0.6s ease,
    scale 0.8s ease;

  /* text transform */
}

button:hover {
  background-color: rgb(219, 41, 219);
}

#duck {
  cursor: pointer;
  transition: transform 0.8s ease;
}

#duck:hover {
  transform: translateX(50px) scale(0.8) rotate(20deg);
}

#duck.fly {
  animation: flyAround 3s linear infinite;
}

@keyframes flyAround {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(150px, -50px) rotate(15deg);
  }

  50% {
    transform: translate(300px, 0) rotate(0deg);
  }

  75% {
    transform: translate(150px, 50px) rotate(-15deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

#loader {
  width: 100px;
  height: 100px;
  border: 3px;
}
