audio {
  display: block;
  margin-bottom: 20px;
}

button {
  font-size: 1.3rem;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(103, 238, 123);
  margin-right: 40px;
  margin-top: 30px;
}

button:hover {
  scale: 0.9;
}

video {
  width: 600px;
  height: 400px;
  margin-top: 50px;
}
